*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import "./utils/variables";
@import "./utils/mixins";


body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: map-get($font-size, text);
    @include txt-alignment ($align-txt: center);
}

.header {
    @include flex-container;
    position: relative;
    box-shadow: 0 0 5px rgb(74, 74, 74);
    
    .fa-arrow-left {
        padding-top: 20px;
        font-size: 25px;
        color: $color-footer;
        cursor: pointer;
    }
    &__logo {
        font-family: $font-secondary;
        background-color: $color-white;
        font-size: map-get($font-size, logo-menu);
        cursor: $cursor;
        padding: 10px;
        margin: auto;
    }
    &__wrap {
        @include flex-container($direction: row, $alignment: baseline);
        padding: 0 30px;
    }

    @include tablet-only {
        background-color: white;
        display: unset;
        .wrap {
            max-width: map-get($breakpoints, desktop);
            margin: $margin;
            justify-content: space-between;
        }
        .logo {
            margin: 0;
            padding: 10px 0;
        }
    }

    @include desktop-only {
        .wrap {
            justify-content: space-between;
        }
        .logo {
            margin: 0;
            padding: 10px 0;
        }
    }
}

.image {
    height: 300px;
    width: $width-full;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: $color-white;
}

.frame {
    background-color: $color-bg;
    padding: $padding-container;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -50px;
    padding: 15px;
    @include desktop-only {
        padding: 20px 30px 0 30px;
    }
}

.menu {
    max-width: 400px;
    margin: auto;

    @include desktop-only {
        max-width: 1400px;
        width: 100%;
    }
}

.label {
    @include flex-container($direction: row);
    font-family: $font-secondary;
    font-size: map-get($font-size, logo-menu);
    justify-content: space-between;
    padding: 25px 25px 0 5px;
    text-align: left;
    line-height: 38px;
}

.favourite-icon {
    cursor: pointer;
    padding-right: 30px;
    .icon-heart {
        position: absolute;
        font-size: map-get($font-size, icon-heart);
        transition: 0.4s ease-in;
    }
    
    .icon-heart-solid {
        position: absolute;
        font-size: map-get($font-size, icon-heart);
        color: transparent;
        background-image: linear-gradient($color-primary,$color-secondary);
        -webkit-background-clip: text;
        background-clip: text; 
        opacity: 0;
        transition: 0.4s ease-in;
    }
    &:hover {
        .icon-heart {
            color: transparent;
        }
        .icon-heart-solid {
            opacity: 1; 
        }
    }
}

.options {
    @include desktop-only {
        @include flex-container($direction: row)
    }
}

.block {
    width: $width-full;
    &__title {
        padding: 35px 0 5px 0;
        text-transform: uppercase;
        @include txt-alignment;
        margin-bottom: 15px;
        background-image: linear-gradient($color-tertiary, $color-tertiary);
        background-size: 45px 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
    }

    @include desktop-only {
        margin-right: 15px;
    }
}

h3 {
    line-height: 24px;
}

.truncate-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 265px;
}

.layout {
    @include flex-container($direction: row);
    position: relative;
    margin: $margin;
    cursor: pointer;
    animation: slideFromTop 2s ease-out 0.3s 1;
    &:nth-child(1) {
        animation-delay: 0s;
    }
    &:nth-child(2) {
        animation-delay: 0.3s;
    }
    &:nth-child(3) {
        animation-delay: 0.6s;
    }
    &:nth-child(4) {
        animation-delay: 0.9s;
    }
    .name {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $color-white;
        padding: 10px;
        font-family: $font-primary;
        border-radius: map-get($border-radius, card);
        font-size: map-get($font-size, text);
        font-weight: 300;
        @include txt-alignment;
        width: $width-full;
        max-width: 450px;
        box-shadow: $shadow;
        margin-bottom: 15px;
        height: 65px;
        overflow: hidden;
        transition: all 700ms ease-in-out;

        &::after {
            content:"";
            position: absolute;
            top: 0;
            right: -65px;
            width: 60px;
            height: 65px;
            background-color: $color-tertiary;
            border-radius: 0 15px 15px 0;
            z-index: 4;
            margin: auto;
            transition: transform 700ms;
        }

        &:hover {
            .price {
                transform: translateX(-50px);
            }

            .icon-check {
                display: block;
                color: $color-white;
                left: 40px;
                transform: translateX(-50px);
            }

            .fa-circle-check {
                animation: rotate 800ms forwards;
            }

            &::before {
                transform: translateX(-65px);
            }

            &::after {
                transform: translateX(-65px);
            }

            .truncate-text {
                animation: truncate 800ms ease forwards;
                background-color: aquamarine;
            }
        }
    }

    .icon-check {
        position: relative;
        color: $color-white;
        font-size: map-get($font-size, logo-footer);
        text-align: right;
        left: 450px;
        bottom: 52px;
        z-index: 5;
        transition: all 700ms ease;
    }

    .price {
        font-size: map-get($font-size, text);
        position: relative;
        text-align: end;
        bottom: 20px;
        padding-right: 10px;
        font-weight: 600;
        color: $color-footer;
        transition: transform 500ms ease-in-out;
    }

    @keyframes slideFromTop {
        0% {
          transform: translateY(25%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(180deg);
        }
        75% {
            transform: rotate(270deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes truncate {
        0% {
          max-width: 85%;
        }
        100% {
            max-width: 70%;
            width: 100%;
        }
    }

    @include tablet-only {
        .name {
            margin-bottom: 15px;
        }
    }

    @include desktop-only {
        .name {
            font-size: 15px;
            height: 60px;
        }
    }
}

.btn {
    font-family: $font-primary;
    font-size: map-get($font-size, text);
    font-weight: 400;
    color: $color-white;
    outline: none;
    border: none;
    cursor: $cursor;
    @include txt-alignment ($align-txt: center);
    padding: 15px 20px;
    border-radius: map-get($border-radius, button);
    box-shadow: $shadow;
    background: $button;
    margin: 30px 0 50px 0;
    width: 200px;
    transition: 0.2s ease-in;
    &:hover {
        filter: brightness(1.1);
        box-shadow: 0 3px 6px rgba(#000, 0.3);
    }

    @include tablet-only {
        margin: 35px 0 60px 0;
    }

    @include desktop-only {
        margin: 35px 0 60px 0;
    }
}

.footer {
    @include flex-container($direction: row, $alignment: center);
    position: sticky;
    top: $width-full;
    background-color: darken($color-bg, 70%);
    color: $color-white;
    @include txt-alignment;
        &__elements {
            line-height: 24px;
            padding: $padding-container;
            width: $width-full;
            width: 400px;
            .logo {
                font-family: $font-secondary;
                font-size: map-get($font-size, logo-footer);
                padding-bottom: 20px;
                cursor: $cursor;
            }
            .link {
                @include flex-container($direction: row, $spacing: flex-start, $alignment: baseline);
                gap: 35px;
                cursor: $cursor;
            }
            .link-txt {
                display: flex;
                gap: 15px;
            }
        }

        @include tablet-only{
            .elements {
                width: $width-full;
                max-width: 450px;
            }
        }

        @include desktop-only{
            padding: $padding-container;
            .elements {
                max-width: map-get($breakpoints, desktop);
                width: $width-full;
                padding: 0;
            }
        }
}